{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.62">
    <link rel="stylesheet" href="{% static 'game.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYE2DK7XEX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYE2DK7XEX');
    </script>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'game' %}" method="POST">
        <h3 id="counter">{{ counter }}</h3>
        {% csrf_token %}
        {% if aktuelle_frage %}
            <h2>{{ aktuelle_frage.text }}</h2>
            <ul style="list-style: none; padding-left: 0;">
                {% for antwort in aktuelle_frage.antwort_set.all %}
                    <li>
                        <button type="submit" name="antwort" value="{{ antwort.id }}">{{ antwort.text }}</button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if ist_korrekt is not None %}
            {% if ist_korrekt %}
                <script>
                    var form = document.querySelector("form");
                    form.classList.add("correct-answer");
                    setTimeout(function() {
                        form.classList.remove("correct-answer");
                    }, 1000);
                </script>
            {% else %}
                <script>
                    var form = document.querySelector("form");
                    form.classList.add("wrong-answer");
                    setTimeout(function() {
                        form.classList.remove("wrong-answer");
                    }, 1000);
                </script>
            {% endif %}
        {% endif %}
    
        <a href="{% url 'home' %}" >Back to Menu</a>
    </form>

    <script src="{% static 'game.js' %}"></script>
    
</body>
</html>