{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Highscore Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.62">
    <link rel="stylesheet" href="{% static 'highscores.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYE2DK7XEX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYE2DK7XEX');
    </script>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3><p style="text-align: center;">Highscores</p></h3>
        <ul>
            {% for entry in top_10 %}
            <li>
                <span>{{ entry.1.username }}</span>
                <span>{{ entry.0 }}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="menu-container">
            <a href="{% url 'home' %}" class="menu-link">Back to Menu</a>
        </div>
    </form>
</body>
</html>