{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Highscore Page</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'highscores.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3><p style="text-align: center;">Highscores</p></h3>
        <ul>
            {% for entry in top_10 %}
            <li>
                <span>{{ entry.1.username }}</span>
                <span>{{ entry.0 }}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="menu-container">
            <a href="{% url 'home' %}" class="menu-link">Back to Menu</a>
        </div>
    </form>
</body>
</html>