{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYE2DK7XEX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYE2DK7XEX');
    </script>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3><p style="text-align: center;">Welcome to Malaysian Mega Money Mastermind Madness</p></h3>
        
        <a  href="{% url 'game' %}" class="button">Play Game</a>
        <a  href="{% url 'highscores' %}" class="button">HighScores</a>
        <a  href="{% url 'profil' %}" class="button">Profil</a>
        <a  href="{% url 'questions' %}" class="button">Add Question</a>
        <div class="menu-container">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </form>
</body>
</html>
