{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profil Page</title>
    <link rel="stylesheet" href="{% static 'profil.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYE2DK7XEX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYE2DK7XEX');
    </script>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3><p style="text-align: center;">Profil</p></h3>
        <h4><p><strong>E-Mail:</strong> {{ email }}</p></h4>
        <h4><p><strong>Username:</strong> {{ username }}</p></h4>

        <h5>Change Username</h5>
        <input type="text" name="new_username" placeholder="New Username">
        <button type="submit" name="update_username">Change</button>

        <h6>Delete Username</h6>
        <button type="submit" name="delete_user">Delete</button>

        <div class="menu-container">
            <a href="{% url 'home' %}" class="menu-link">Back to Menu</a>
        </div>
    </form>
</body>
</html>
